.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	color: $color__light;
	font-size: 1.2em;
	line-height: 1;
	padding: 1em 2.5em;
	text-decoration: none;
	text-align: center;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}

	&.btn--full{
		display: block;
		width: 100%;
	}
}
