$color__primary: #827264;
$color__secondary: #A63813;
$color__dark: #1B1715;
$color__light: #F6F6F6;

$color__background-body: $color__dark;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: rgba(27, 23, 21, 0.5);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #F6F6;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__light; //royalblue
$color__link-visited: $color__light; //purple
$color__link-hover: $color__light; //midnightblue
$color__text-main: $color__light;

$color__border-button: $color__primary;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
