$color__background-body: #1B1715;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: rgba(27, 23, 21, 0.5);
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #F6F6;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #827264;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
